body  section p ul li{
	text-decoration: none;
}

body, html {
	margin:0 ;
	border: 0;
	padding: 0;
}

.imhuge{
	background: url("../img/city.jpeg");
    background-size: cover;
    background-position: center center fixed;
    background-repeat: 	no-repeat;
    color: #dfdce1;
    height: 800px;
    width: 100%;
    z-index:1;
    margin-top: 0rem auto;

}


.class1 {
	color: hsl(0, 0%, 20%);
	transition: all .5s ease-out;
}

.class1 hover{
transition: all .5s ease-out;
}



.color{
	background-color: ivory;
	color: black;
}

.color2{
	background: red;
	margin-bottom: 7rem;
}

.color3{
	background: skyblue;
}

.headg{
    display: inline-block;
	text-align: center;
	position: absolute;
	width: 20%;
	right:8px;
	top: 420px; 
	margin: 0 auto;
}


.imgh{
	position: fixed;
	top: 53px;
	right:100px;
	margin-left: 2%;
	margin-top: 1%;
}

table, td{
	width: 100%;
}

.imgc {
	position: absolute;
	margin: 2 auto background-color:blue;
	width: 30%;
}

.thead1{
	font-size: 40px;
	width: 100%;
	color: black;
}

[class*="col-"] {float: left;box-sizing: border-box;}
.col-1{width: 10%;}
.col-16{width: 16%}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
.col-33{width: 33.3%;}
.col-25{width: 25%;}
.col-15{width: 15%;}

table img {
	width: 170px;
	height:120px;
}

img.pequena{
	height:2em;
	left: 4em;
    bottom: 30px;
}

.growth {
	font-family: Verdana;
    color: #576d94;
    font-size: 45px;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 75px;
    margin: 10px;
    border: 1px;
}
.nav {
	position: fixed;
	z-index: 3;
	background: lightcyan;
    padding: 0.9em;
    width: 100%;
    text-decoration: none;
    bottom: 0px;
    right: 0px;
    text-align: center;
}


.div1 {
	position: static;
	margin-bottom: 4rem;
	left: 
}

.button1 {
  margin-left: 35rem;
}


.div2 {
	margin-bottom: 6rem;
}

.div3 {
	margin-bottom: 7rem;
}

.div4 {
	width: 40rem;
	margin-bottom: 6rem;
	height: 34em;
	font-size: 70%;
}

.div5{
	width: 40rem;
	margin-bottom:6rem;
	right: 0;
	height: 34em;
	margin-left: 40rem;
	margin-top: -29rem;
	background: red;
}

.aligncenter {
	text-align: center;
}

.floatleft {
   left: 10em;
}

.section1 {
  margin-bottom: 10rem;
  margin-right:0em;
}

.h3sect1 {
	font-size: 200%;
	text-align:center;
}

.footsec1{
margin-top: 16em;
text-align: right;
margin-right: 2%
}

.img1sect {
	position: relative;
    padding-left: 13%;
    padding-right: 0%;
    height: 7em;
    width: 80%;
    margin-top: 2.5em;
}

.img2sect {
    position: relative;
    padding-left: 29%;
    padding-right: 0%;
    height: 7em;
    width: 80%;
    margin-top: 2em;
}

.img3sect {
	position: relative;
    padding-left: 45%;
    padding-right: 0%;
    height: 7em;
    width: 68%;
}

.img4sect {
	position: relative;
    padding-left: 61%;
    padding-right: 0%;
    height: 7em;
    width: 80%;
}

.img5sect {
	position: relative;
    padding-left: 77%;
    padding-right: 0%;
    height: 7em;
    width: 80%;
}

.div6 {
	margin-bottom: 15rem;
}

.div7{
	position: relative;
	width: 40rem;
	margin-bottom: 6rem;
	height: 34em;
	font-size: 70%;
}

.sondiv7{
position: absolute;
background: white;
margin-left: 40%;
margin-bottom: 10%;
height: 79%;
width: 57%;
}

.div8{
	position: relative;
	width: 40rem;
	margin-bottom:6rem;
	right: 0;
	height: 24em;
	margin-left: 40rem;
	margin-top: -37%;
}

.sondiv8{
    position: absolute;
    background: white;
    margin-left: 8%;
    margin-bottom: 10%;
    height: 96%;
    width: 79%;
}

.endfooter{
	
}

@media (max-width:300px) and (min-width:600px) {
	body{
		background-color: skyblue;
	}
}
 @media (min-width: 900px){
    body{
        background-color: darkblue;
    }
}
